#content_title.well
  Mi Mateo

Modo pruebas
%ul.inline
  %li
    %a.btn(href = '/login_as_1') Ana
  %li
    %a.btn(href = '/login_as_2') Pedro
  %li
    %a.btn(href = '/login_as_3') Ramón
  %li
    %a.btn(href = '/login_as_4') Isabel

%p#welcome
  Bienvenido a 
  %strong
    Mi Mateo
  , el organizador social (beta 0.92)

%strong
  ¿Qué es Mi Mateo?
%ul
  %li
    Mi Mateo es un organizador de tareas en la nube. Es gratuito y no necesitas registrarte, simplemente conéctate utilizando tu cuenta de Google. Si sólo quieres probar la aplicación hay varios usuarios abiertos al público para experimentar con ellos.
  %li
    Una vez conectado podrás crear una tarea pulsando en el botón + que hay en la columna izquierda de la pantalla. Después podrás darla por completada, editarla o borrarla cuando quieras.
  %li
    Pero aún hay más: puedes compartir tus tareas con tus amigos. Para ello añádelos como contactos en la parte derecha de la pantalla. En la tarea que vayas a compartir encontrarás una zona donde puedes pinchar y arrastrar los contactos para invitarlos a ella. También puedes arrastrarlos fuera para expulsarlos.
  %li
    Cada tarea es como un chat donde todos los participantes pueden escribir mensajes. El creador de la tarea puede eliminar los mensajes que considere inapropiados.
  %li
    Finalmente, si tus amigos te ayudan al hacer una tarea puedes recompensarlos virtualmente con huesos. Dentro de una tarea basta con arrastrar el hueso a quien desees. Un contador en la parte superior derecha registra cuantos huesos has dado y recibido respectivamente.

%strong
  Advertencia:
%p
  Esta es una versión beta, no una aplicación terminada. No la utilices para guardar información sensible o importante.

%strong
  Cosas pendientes por hacer:
%ul
  %li
    Poder reordenar las tareas y los contactos
  %li
    Mandar un correo de bienvenida al crear un contacto
  %li
    Diseñar un logo
  %li
    Y mucho más...