¡Saludos!
===============================================

#{@inviter_user.name} desea invitarte a utilizar el organizador de tareas social Mi Mateo.

Si lo deseas puedes entrar en Mi Mateo siguiendo este enlace:
=@url

No hace falta registro alguno, puedes acceder a la aplicación a través de tu cuenta de Google.

Un saludo cordial y que pases un buen día.