!!!5

%html
  %head
    %meta(content='text/html; charset=UTF-8' http-equiv='Content-Type')
  %body
    %h1
      ¡Saludos!
    %p
      #{@inviter_user.name} desea invitarte a utilizar el organizador de tareas social Mi Mateo.
    %p
      Si lo deseas puedes entrar en Mi Mateo siguiendo este enlace:
      =@url
    %p
      No hace falta registro alguno, puedes acceder a la aplicación a través de tu cuenta de Google.
    %p
      Un saludo cordial y que pases un buen día.