!!!5

%html
  %head
    %meta(content='text/html; charset=UTF-8' http-equiv='Content-Type')
  %body
    %h1
      Bienvenido/a a Mi Mateo, #{@user.name}
    %p
      Te has registrado con éxito en Mi Mateo, el organizador social de tareas.
    %p
      Puedes entrar en Mi Mateo siguiendo este enlace:
      =@url
    %p
      Gracias por registrarte y que pases un buen día.