Bienvenido/a a Mi Mateo #{@user.name}
===============================================

Te has registrado con éxito en Mi Mateo, el organizador social de tareas.

Puedes entrar en Mi Mateo siguiendo este enlace:
=@url

Gracias por registrarte y que pases un buen día.