#content_title.well
  Huesos para #{@task.name} dsada sads adsada sd asdsa asdad sadsa ds adsa
%hr

- if @contacts
  %ul.unstyled
    - @contacts.each do |contact|
      - if @user = contact.referenced_user
        %li
          = link_to :controller => 'bones', :action => 'give', :amount => 1, :contact => contact.id do
            Dar un hueso a #{contact.name}
- else
  No hay contactos invitados a los que puedas dar huesos
%br
%br
= link_to 'Volver a la tarea', task_path(@task)