.pull-right
  - if @current_user
    %span(toogle="tooltip-last-logged-in" title="Última conexíón: #{@current_user.last_logged_in}")
      %i.icon-user
      #{@current_user.name}
    %a.btn.btn-mini(href = logout_path data-toggle="tooltip-logout" title="Cerrar sesión")
      %i.icon-off
  - else
    %a.btn.btn(href = '/auth/google_oauth2' data-toggle="tooltip-login" title="Conectar con tu cuenta de Google")
      Conectar con Google