/*
  Color Palette
  --------------
  rgb(255, 255, 255); // white
  rgb(200, 100, 0); //brown
  rgb(255, 255, 200); // yellow
  rgb(255, 200, 0); // yellow-orange
  rgb(255, 150, 0); // orange
  rgb(200, 50, 0); // red-orange
  rgb(155, 0, 0); // dark-red
*/

body{
  background-color: rgba(255,200,0,0.05); // yellow-orange 15%
  font-size: 1.15em !important;
}

.well{
  background-color: rgba(255,200,0,0.15); // yellow-orange 15%
  border-color: rgb(255,200,0); // yellow-orange 
}

.row-fluid{
  border-color: rgb(255,200,0); // yellow-orange 
}

.tooltip-inner {
  background-color: rgb(255,200,0); // yellow-orange 
}

.btn {
  color: rgb(255,150,0); // orange
  text-shadow: 0 1px 1px rgba(255,255,255,0.75); // white 75%
  background-color: rgb(255,200,0); // yellow-orange 
  background-image: -moz-linear-gradient(top, rgb(255,255,255), rgb(200,100,0)); // white to brown
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(255,255,255)), to(rgb(200,100,0))); // white to brown
  background-image: -webkit-linear-gradient(top, rgb(255,255,255), rgb(200,100,0)); // white to brown
  background-image: -o-linear-gradient(top, rgb(255,255,255), rgb(200,100,0)); // white to brown
  background-image: linear-gradient(to bottom, rgb(255,255,255), rgb(200,100,0)); // white to brown
  border-color: rgba(255,200,0,0.1) rgba(255,200,0,0.1) rgba(255,200,0,0.25); // yellow-orange 10% 10% 25%
  border-bottom-color: rgb(255,200,0); // yellow-orange
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffc86400', GradientType=0); // white to brown
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: rgb(200,100,0); // brown
  background-color: rgb(255,200,0); // yellow-orange
}

.navbar-inner {
  background-color: #006633;
  background-image: -mox-linear-gradient(top, #006633, #006633);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#006633), to(#006633));
  background-image: -webkit-linear-gradient(top, #006633, #006633);
  background-image: -o-linear-gradient(top, #006633, #006633);
  background-image: linear-gradient(to bottom, #006633, #006633);
  border-color: #006633;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff006633',     endColorstr='#ff006633', GradientType=0);
}

a{
  color: rgb(150,0,0); // dark-red
}

a:hover, a:focus{
  color: rgb(0,0,0); // black
  text-decoration: none; 
}

hr{
  border-color: rgb(200,100,0); // brown
}