.span3#app_name_cell
  = link_to tasks_path do
    %i.icon-home
    &nbsp;Mi Mateo beta 0.95
.span2#app_controls_cell
.span4#bone_cell
  = render :partial => '/bones/global_bone_counter'
.span3#login_cell
  = render :partial => '/users/login_panel'
